<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tiny Adventures</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">

    <!-- My CSS Styles -->
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">

</head>

<body>
    {% block nav %}{% include 'tinyadventures/navbar.html' %}{% endblock %}
    <!-- Full Width Image Header -->
    <header class="header-image header-background">
        <div class="headline">
            <div class="container">
                <h1>Tiny Adventures</h1>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

</div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
